.col-12{
	padding-bottom: 10px;
	
}
.card {
	margin-top: 70px;
	border-radius: 0;
}
.title-style{
	font-size:1.2em;
	text-align: center;
	color:#76757D;
}
.input-style{
	width: 100%  !important;
	
}
.error{
	 color: red;
}
body{
    background: #777777 !important
}